body {
  width: 21cm !important;
  height: 29.7cm !important;
  font-family: 'Montserrat', sans-serif;
}
 h1 {
   position: relative;
   top: 2vh;
   color: white;
   font-size: 8vh;
   text-align: center;
   font-weight: 300;
 }

 h2 {
   padding-left: 2vh;
 }

 p {
   padding-left: 2vh;
 }

 li p {
   padding-left: 0vh;
 }

 ul {
   padding-left: 4vh;
 }

 #leftCol i {
   position: relative;
   top: 0.5vh;
   color: #071c36;
   opacity: 1 !important;
   padding-right: 2vh;
 }

 #topCol h3 {
   color: white;
   opacity: 0.7;
   position: relative;
   top: 2vh;
   text-align: center;
 }

 #leftCol h3 {
   color: white;
   padding-left: 2vh;
   opacity: 0.7;
 }

 #leftCol h5 {
   color: white;
   padding-left: 1vh;
   opacity: 0.9;
 }

 #leftCol h6 {
   color: white;
   padding-left: 1vh;
   opacity: 0.5;
 }



 #profile {
   margin-top: -1vh;
 }

.download {
  position: relative;
  bottom: 129vh;
  left: 50vh;
}


 #bottomCol h4 {
  margin-left: 0vh !important;
 }

 #bottomCol p {
  margin-left: 0vh !important;
 }

 #bottomCol span {
   color: grey !important;
   opacity: 0.5;
   font-size: 2vh;
 }

#contact {
  margin-top: 30vh;
}


#phone {
  color: rgba(252, 254, 255, 0.7);

}


#location i {
  margin-right: 0.7vh;
}


#mail {
  font-size: 1.4vh;
  color: rgba(252, 254, 255, 0.7);
}

#mail i {
  margin-right: 0.5vh;
}

#linkdn a {
  font-size: 1.2vh;
  color: white;
  font-weight: bold;
}

#github a {
  font-size: 1.2vh;
  color: white !important;
  font-weight: bold;
  opacity: 1 !important;
}

.skills {
  color: white;
  opacity: 0.7;
}

 .headerSeparation {
   position: relative;
   left: 30vh;
   opacity: 0.3;
   background-color: white;
   height: 0.3vh;
   width: 20vh;
 }

 .leftColSeparator {
   position: relative;
   left: 1vh;
   opacity: 1;
   background-color: white;
   height: 0.3vh;
   width: 24vh;
 }


.container-fluid {
  display: table;
  width: 100%;
}

#leftCol {
  padding: 0 0;
  border: 1px solid black;
  position: relative;
  height: 130vh;
  flex: 0 0 29vh;
  background-image: linear-gradient(rgba(43,74,135,0.5), rgba(35,58,106,0.7));
}

img {
  position: absolute;
  align-self: center;
  border-radius: 20vh;
}

#topCol {
  border: 1px solid black;
  position: relative;
  height: 26vh;
  flex : 0 0 81.6vh;
  left: 29vh;
  bottom: 130vh;
  background-color: #071c36;
}

#bottomCol {
  border: 1px solid black;
  position: relative;
  flex : 0 0 81.6vh;
  height: 104.1vh;
  bottom: 130.1vh;
  left: 29vh;

}
